.quantity{
    width: 60px;
}
.cart-img{
    width: 60px;
}
.quantity-box .btn{
    width: 40px;
    border-radius: 0;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .quantity{
        width: 40px;
        padding-left: 0;
        border: none;
        outline: 0;
    }
    .quantity-box .btn{
        width: auto;
        border-radius: 0;
    }
    .cart-price{
        min-width: 80px;
    }
    .cart-price *{
        font-size: 13px;
    }
    .cart-img{
        width: 40px;
      }
    td.align-middle .quantity-box .btn{
        padding: 0;
        height: auto;
        width: auto;
        border: 0;
      }
      .td.align-middle .quantity-box .quantity{
        padding: 0;
        display: block;
        border: none;
        outline: none;
        width: 40px;
      }
      .cart-product-title{
        width: 100px;
        font-size: 12px;
      }
      .cart-top *{
        font-size: 10px;
      }
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    
    
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
   
  }
  
  /* Extra Large devices (desktops, 992px and up)*/
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    
   
  }
  
  /* Extra Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1400px) {
    

  }