@font-face {
    font-family: saira;
    src: url(../fonts/Saira-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
